* {
  margin: 0;

  padding: 0;
  text-decoration: none;
}

section {
  background-image: url(./img/ecc76ec6c8d33312a8724d251321c5b6f9e1a298.jpg
);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.box_logo {
  height: 33px;
  width: 122px;
  position: relative;
  top: 40px;
}

.box_h3 {
  position: relative;
  top: 108px;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  color: #FFFFFF;

}

.box_p {
  position: relative;
  top: 236px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: inline;


}

.box_icon {
  width: 119px;
  height: 22px;
  font-size: 20px;
  color: #1C69D4;
  position: relative;
  top: 238px;

}

.wrapper_oil {
  position: relative;
  top: 15px;
  width: 297px;
  height: 464px;
}

.box_in {
  align-items: center;
}


.box {
  display: flex;
  justify-content: space-between;
}

.box3_span {

  background-color: #FFFFFF33;
  width: 80px;
  height: 60px;
  text-align: center;
  align-items: center;

}

.left {
  color: #FFFFFF;
  font-size: 40px;

}

.box3 {
  display: flex;
  gap: 5px;

}

.box4_h1 {

  font-weight: 300;
  font-size: 75px;
  line-height: 100%;
  text-align: right;
  align-items: center;
  position: relative;
  top: -298px;
  color: #FFFFFF;
}

.button_telegram {
  width: 210px;
  height: 50px;

  box-shadow: 0px 0px 1px 0px #0000000A;


}

.box5_h2 {
  color: #22222233;
  margin-left: 16px;
  margin-top: 32px;
}

.box5 {
  background-color: #FFFFFF;
  display: flex;

  position: relative;

  width: 460px;
  height: 200px;


}

.box5_h33 {
  margin-top: 32px;
  margin-left: 9px;
}

.box5_h3 {

  font-weight: 700;
  font-size: 24px;
  line-height: 24px;


}

.box5_span {

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 9px;

  vertical-align: middle;

}

.box5_h1 {

  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  vertical-align: middle;
}

.button_telegram {
  color: #1C69D4;
  border: #3CA255 solid 3px;
  width: 320px;
  height: 52px;
  margin-left: 80px;
  margin-right: 20px;
}

.button_telegrams {
  color: #1C69D4;
  border: #1C69D4 solid 3px;
  width: 320px;
  height: 52px;
  margin-left: 80px;
  margin-right: 20px;
}


.wrapper_box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  bottom: 0;
  position: absolute;
  top: 299px;

}

.page1 {
  background-image: url(./img/5ab9cea6ced22a69eea21d4b934771e3c0bf96ec\ \(1\).jpg);
  width: 570px;
  height: 356px;
}

.page1_h2 {

  font-weight: 700;
  color: white;
  line-height: 36px;
  left: 30px;
  top: 10px;
  position: relative;
}

.page1_h4 {

  font-weight: 700;
  color: white;
  line-height: 36px;
  position: relative;
  left: 30px;
  bottom: -225px;

}

.page2 {
  background-image: url(./img/dbad6842c7e54ba5c110b9d64bfcc5790319e14b.jpg);
  background-repeat: no-repeat;
  height: 356px;
  width: 780px;

}

.wrapper_pages {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  background-color: #F0F0F0;
}

.page2_h4 {
  position: relative;
  top: 10px;
  left: 30px;
  color: white;
}

.page2_h3 {

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0%;
  position: relative;
  left: 30px;
  bottom: -225px;
  color: white;
}